* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Cómo se va a calcular en base al margin y padding del elemento la caja que rodea el elemento.*/
}

:root {
  /*Coloured boxes*/
  --color-backLight:white;
  --color-dark:rgb(38, 38, 38);
  --color-accent:rgb(243, 121, 176);
  --color-backDark:#adadad;
  --color-dark2:rgb(62, 62, 62);
}

html,
body {
  color: white;
  background-color: var(--color-dark2);
  font-family: Geneva, sans-serif;
  margin-top: 30px;
}

h1 {
  color: var(--color-backLight);
  font-size: 2rem;
  font-family: Geneva, sans-serif;
  text-align: center;
  margin: 20px 0px;
}

.AppToDo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*Horizontal*/
  align-items: center; /*Vertical*/
  width: 100%;
}

/*LOGO STYLE*/

.pinkHatLogoContenedor {
  width: 100%;
  margin: 1em;
  display: flex;
  justify-content: center; /*Horizontal*/
  align-items: center; /*Vertical*/
}

.pinkHatLogoPicture {
  height: 100px;
}

/*TO DO LIST STYLE*/

.PrimaryToDoList {
  width: 700px;
  min-height: 500px;
  background-color: var(--color-dark);
  padding: 25px;
  margin: 10px;
  border-radius: 1em;
}